body {
  margin: 0;
  font-size: 15px;
  padding: 2em;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica,
    arial, sans-serif;
  background: #202020;
  color: #FFF8E7;
  height: 90vh;

}

img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.9;
  border-radius: 12px;
}

figure {
  margin: 0;
  padding: 0;
  /*border-radius: 12px;*/
  max-width: 550px;
}

figcaption {
  font-size: 0.75em;
  margin-top: 0.5em;
  margin-bottom: -0.75em;
  color: #FFF8E7;
}

.small-text {
  font-size: 0.75em;
}

a {
  color: #FFF8E7;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 248, 231, 0.5);
}

a.home {
  text-decoration: none;
  border-bottom: 0px;

}


a:hover {
    font-style: italic;
    border-bottom: 0px ;
}


.grid {
  display: grid;
  flex-direction: column;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  grid-gap: 2.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  /*max-width: 35%;*/
  max-width: 550px;
}

.grid-item {
  margin: 0;
  /*margin: 2.5em 0;*/
}

.right-arrow {
  font-size: 2px;
}

footer {
  position: absolute;
  margin-top: 5em;
 padding: 2em 0;
  max-width: 550px;
}



#toggleEffect {
  font-size: 15px; /* Adjust size as needed */
  cursor: pointer; /* Changes the cursor, indicating it's clickable */
  background: transparent; /* Transparent background */
  border: none; /* Removes the border */
  outline: none; /* Removes the outline to prevent the default focus highlight */
  padding: 0px; /* Adds some padding around the emoji */
  padding-left: -20px;
  border-radius: 50%; /* Makes the button circular */
  transition: transform 0.2s ease; /* Smooth transition for click effect */
}

#toggleEffect:hover {
  transform: scale(1.5); /* Slightly enlarges the button on hover */
}

#toggleEffect:focus {
  box-shadow: 0 0 0 2px #ffa74f; /* Adds a focus indicator for accessibility */
}




/*
@media screen and (max-width: 1250px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 14px;
  }


}
*/


@media screen and (max-width: 750px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }

  body {
    font-size: 14px;
  }
}


@media screen and (max-width: 450px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }
  body {
    font-size: 14px;
  }
}
