* {
  grid-sizing: border-grid;
}

body {
  background-color: #5959EF;
  font-family: 'Arial', sans-serif;
  margin: 20px;
  color: white;

}

a {
  color: white;
  text-decoration: none;
}


.grid {
  background-color: #5959EF;
  font-size: 16px;
  width: 340px;
  height: 340px;
  padding: 10px;
  margin: 5px;
  border: 0.5px solid white;
  display: inline-block;
  vertical-align: top;
}

.grid:hover, .grid:focus, .grid:active {
  color: #5959EF;
  background-color: white;
}

.grid:hover a, .grid:focus a, .grid:active a {
  color: #5959EF;
}


img {
  width: 340px;
  height: 340px;
  object-fit: contain;
}


iframe {
    width: 100%;
    height: 100%;
}


@media (max-width: 600px) {


body, a {
  color: #5959EF;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  position: relative;
}


a {
  color: #5959EF;
  background-color: white;
    
  }


.grid {
    background-color: white;
    margin: auto;
    width: 280px;
    height: 280px;
    border: 4px solid #5959EF;
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
  }




  @media(hover: hover) and (pointer: fine) {
    .grid:hover, .grid:focus, .grid:active {
      color: white;
      background-color: #5959EF;
    }

    .grid:hover a, .grid:focus a, .grid:active a {
      color: white;
      background-color: #5959EF;
    }
  }


  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }








}
