* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #0D0D05;
  color: #FEE3DC;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0.5em;
  padding-bottom: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 1em 0;
}

a {
  color: #FEE3DC;
  text-decoration: none;
}

h1 {
  color: #FEE3DC;
  font-size: 1.5em;
  margin-bottom: 0.15em;
  margin-top: 0.05em;
  text-align: center;
}

.site {
  width: 450px;
  margin: 50px auto;
  text-align: left;
  position: relative;
}

.site .content {
  background: #0D0D05;
  border: 0.5px solid #FEE3DC;
  padding: 26px 30px 30px;
  position: relative;
}
